<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>Tambah Data</title>
</head>

<body>
    <h1>Add Data</h1>
    <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-15">
                    <label for="string">String</label>
                </div>
                <div class="col-85">
                    <input type="text" name="string" placeholder="Masukkan data string">
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label for="integer">Integer</label>
                </div>
                <div class="col-85">
                    <input type="text" name="integer" placeholder="Masukkan data integer">
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label for="float">Float</label>
                </div>
                <div class="col-85">
                    <input type="text" name="float" placeholder="Masukkan data float">
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label for="date">Date</label>
                </div>
                <div class="col-85">
                    <input type="date" name="date">
                </div>
            </div>


            <div class="row">
                <div class="col-15">
                    <label for="boolean">Boolean</label>
                </div>
                <div class="col-85">
                    <select id="boolean" , name="boolean">
                        <option value="">--Pilih boolean--</option>
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <input type="submit"></input>
            </div>
        </form>
    </div>
</body>

</html>